<div class="social">

<div class="facebook-container">
<a href="https://www.facebook.com/profile.php?id=61552191091337" target="_blank">
<img class="icon-facebook"src= "/assets/facebook.png"alt="">
</a>
</div>

<div class="youtube-container">
<a href="https://www.youtube.com/@firuarquero_oficial" target="_blank">
    <img class="icon-youtube" src="/assets/youtube-logo.png " alt="">
</a>
</div>

<div class="instagram-container">
<a href="https://www.instagram.com/firuarquero_oficial/" target="_blank">
    <img class="icon-instagram" src="/assets/instagram.png" alt="">
</a>
</div>
<div class="instagram-container">
<a href="https://www.tiktok.com/@firuarquero_oficial" target="_blank">
    <img class="icon-instagram" src="/assets/tiktok.png" alt="">
</a>
</div>

