<div id="title-formulario" class="font-indie">
  <h2 id="title-formulario">Quieres hablar conmigo?</h2>
</div>

<form class="form font-nav" [formGroup]="contactForm" (ngSubmit)="submitForm()">
  <label for="name">Nombre:</label>
  <input
    type="text"
    id="name"
    name="name"
    formControlName="name"
    #nameInput
  />
  <!-- Muestra un mensaje de error si el nombre es requerido y no está completo -->
  <div
    *ngIf="isSubmitted && contactForm.get('name')?.hasError('required')"
    class="error-message"
  >
    El nombre es obligatorio.
  </div>

  <label for="email">Correo:</label>
  <input
    type="email"
    id="email"
    formControlName="email"
    #emailInput
  />
  <!-- Muestra un mensaje de error si el email es requerido o no es válido -->
  <div
    *ngIf="isSubmitted && contactForm.get('email')?.hasError('required')"
    class="error-message"
  >
    El correo is obligatorio.
  </div>
  <div
    *ngIf="isSubmitted && contactForm.get('email')?.hasError('email')"
    class="error-message"
  >
    El correo no es válido
  </div>

  <label for="message">Mensaje:</label>
  <textarea
    id="message"
    rows="8"
    required
    formControlName="message"
  ></textarea>
  <!-- Muestra un mensaje de error si el message es requerido -->
  <div
    *ngIf="isSubmitted && contactForm.get('message')?.hasError('required')"
    class="error-message"
  >
    El mensaje es Obligatorio
  </div>

  <div class="alert alert-success" *ngIf="showSuccessNotify" role="alert">
    <strong>Bien Hecho!</strong> Su mensaje fue enviado exitosamente.
 </div>

  <div class="center-content">
    <label class="checkbox">
      <input
        type="checkbox"
        formControlName="checkmark"
      />
      <span 
          class="checkmark center-content"
          [ngClass]="{ 'is-invalid': isSubmitted && contactForm.get('checkmark')?.invalid }"
          type="button"></span>
    </label>
    <span class="text-checkmark" id="mostrarAviso"
        >Aceptar los <a target="_blank" href="/terms">terminos y condiciones</a> de procesamiento de datos</span
      >
  </div>
  

  <div
  *ngIf="isSubmitted && contactForm.get('checkmark')?.invalid"
  class="error-message check-error-message"
>
Debe aceptar los terminos y condiciones
</div>

  <div class="button-enviar">
    <button class="font-indie" type="submit">Enviar</button>
  </div>
</form>

