
<div class="slideshow-container">

    <div class="mySlides fade slider-images">
      <img src="/assets/slide_1.jpg" class="w-h-100 image-slider" >
    </div>
    
    <div class="mySlides fade slider-images">
      <img src="/assets/slide_2.jpg" class="w-h-100 image-slider" >
    </div>
    
    <div class="mySlides fade slider-images">
      <img src="/assets/slide_3.jpg" class="w-h-100 image-slider" >
    </div>  
    <br>
    
    <div class="dots-container">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>