<!-- version web -->

<body class="funcionamiento">
  <section class="contacto-component-container">
    <app-slider></app-slider>
  </section>
  <br>
  <br>
  <div class="container-meetings">
    <section>
      <h2 class="title-horarios font-indie">Soy Lucky El Firu Arquero</h2>
      <ul class="horarios">
        <li type="none" class="font-nav">
          Fuí rescatado de las calles, con una enfermedad en la piel, mi amo me
          adoptó, me cuidó y ayudó a sanarme. Él era vendedor ambulante de
          comidas, por lo cual durante la pandemia pasamos una situación muy
          dura pero él prometió nunca abandonarme, hemos estado en las buenas y
          en las malas.
        </li>
        <li type="none" class="font-nav">
          Desarrollé mi talento durante la pandemia jugando con los niños, mi
          sueño es convertirme en la mascota Oficial de la Selección COLOMBIA,
          tapar los tiros de mi figura favorita James Rodríguez y tener mi
          propia tienda de articulos deportivos, comida y accesorios para mascotas, para
          ayudar a más mascotas como yo que estan en las calles y en fundaciones, a
          encontrar un hogar donde los amen y los
          cuiden como a mi.
        </li>
      </ul>
    </section>
  </div>



  <!-- <app-contact-form class="container-formulario"></app-contact-form> -->
</body>
